.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
  /*color: rgba(0, 0, 0, .2);*/
  font-size: 36px;
  background: #80a7f0;
  border-radius: 100px;
  color: white;
}