.place-card {
  width: 282px;
  background-color: #80a7f0;
  border-radius: 10px;
  min-height: 360px;
  color: white;
  padding: 22px;
  box-sizing: border-box;
  position: relative;
}

.place-card_mini {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  flex-basis: 94px;
  background-color: #bacef3;
  /* justify-content: space-between;
  align-items: center; */
}

.place-card__description-temperature {
  display: flex;
  flex-direction: column;
  min-height: 78px;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #f5f4f4;
  margin-bottom: 20px;
}

.place-card__description-wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.place-card__name {
  font-size: 24px;
  margin: 0 0 20px;
}

.place-card__current-tempetature {
  font-size: 36px;
  font-weight: 900;
  margin: 18px 0;
  margin: 0 0 20px;
}

.place-card__text {
  margin: 0 0 20px;
}

.place-card__delete-icon {
  background: url(../../images/trash-icon.svg) center no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 20px;
  position: absolute;
  bottom: 22px;
  right: 22px;
  cursor: pointer;
  display: none;
  display: block;
}

.place-card-content {
  width: 100%;
}

.popup__content_minicards {
  width: 55%;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  background-color: #bacef3;
  border-radius: 10px;
}

@media screen and (min-width: 880px) {
  .popup__content_minicards {
    /* width: calc(100% - 60px); */
    width: 485px;
  }
}

.miniplaces-list {
  display: flex;
  flex-wrap: wrap;
}

.place-card__text_weekday {
  font-size: 18px;
  line-height: 22px;
  font-family: 'YS Text', Helvetica Neue, Arial;
  font-weight: 400;
  /* color: #222426; */
}