@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/header/header.css);
@import url(./blocks/button/button.css);
@import url(./blocks/places-list/places-list.css);
@import url(./blocks/place-card/place-card.css);
@import url(./blocks/popup/popup.css);
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif, 'Inter', Arial, Helvetica;
  background-color: #bfd3f8;
}