.header {
  min-height: 132px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #A5A5A5;
  font-size: 36px;
  font-weight: 900;
  color: white;
  margin-bottom: 40px;
}

.header__text {
  font-family: Permanent Marker, cursive;
  font-size: 80px;
  font-weight: 900;
  margin: 0;
}