.header {
  min-height: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #A5A5A5;
  font-size: 36px;
  font-weight: 900;
  color: white;
  margin-bottom: 40px;
}

@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header__button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.header__button {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  background: transparent;
  color: #FFFFFF;
  cursor: pointer;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
}

.header__text {
  font-family: Permanent Marker, cursive;
  font-size: 80px;
  font-weight: 900;
  margin: 0;
}